[client]
port		= 3306
socket		= /var/run/mysqld/mysqld.sock

[mysqld_safe]
socket		= /var/run/mysqld/mysqld.sock
nice		= 0

#
# The MySQL server
#
[mysqld]

user		= mysql
pid-file	= /var/run/mysqld/mysqld.pid
socket		= /var/run/mysqld/mysqld.sock
port		= 3306
basedir		= /usr
datadir		= /var/lib/mysql
tmpdir		= /tmp
lc-messages-dir	= /usr/share/mysql
skip-external-locking
skip_name_resolve
bind-address = 0.0.0.0

# Server tuning
max_connections = 350
connect_timeout	= 5
wait_timeout = 600
slow_query_log_file	= /var/log/mysql/mariadb-slow.log
long_query_time = 10

# InnoDB Cache
max_heap_table_size = 64M
read_buffer_size = 2M
read_rnd_buffer_size = 16M
sort_buffer_size = 32M
join_buffer_size = 32M

query_cache_type = 1
query_cache_limit = 128K
query_cache_min_res_unit = 2k
query_cache_size = 48M

thread_stack = 96K
transaction_isolation = READ-COMMITTED

tmp_table_size = 2G
innodb_additional_mem_pool_size = 32M

innodb_buffer_pool_size = 5G

innodb_thread_concurrency = 3

!includedir /etc/mysql/conf.d/