[mysqld]
skip-host-cache
skip-name-resolve

# Server tuning
max_connections = 350
connect_timeout	= 5
wait_timeout = 600

# InnoDB Cache
max_heap_table_size = 64M
read_buffer_size = 2M
read_rnd_buffer_size = 16M
sort_buffer_size = 32M
join_buffer_size = 32M

query_cache_type = 1
query_cache_limit = 128K
query_cache_min_res_unit = 2k
query_cache_size = 48M

transaction_isolation = READ-COMMITTED

tmp_table_size = 128M

innodb_buffer_pool_size = 5G

innodb_thread_concurrency = 3